# official django
*.egg-info
*.pot
*.py[co]
.tox/
__pycache__
MANIFEST
dist/
logs/*
!logs/.gitkeep
postgres-data/
postgres-data-prod/
postgres-data-staging/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
# official djangorestframework
*.pyc
*.db
*~
.*

/__pycache__/
backups/*
/site/
/htmlcov/
/coverage/
/build/
/dist/
/*.egg-info/
/env/
MANIFEST
coverage.*

!.gitignore
!.travis.yml
!.isort.cfg
!.dockerignore

# IDE
/.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/*

# ignore migrations
**/migrations/*.py
**/migrations/

# media files
media/*
static/*
!static/.gitkeep


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot
*.tar
# Sphinx documentation
docs/_build/

# data
.dump/*